absl-py==0.5.0
bleach==3.1.1
Click==7.0
Flask==1.0.2
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.10
Markdown==3.0.1
MarkupSafe==1.0
numpy==1.15.2
protobuf==3.6.1
six==1.11.0
tensorflow==1.12.2
tensorflow-tensorboard==1.5.1
Werkzeug==0.14.1
